.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}