* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg_color: #7a81d1;
    --border_color: #aacbfc;
}



.header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    background-color: var(--bg_color);
    padding: 20px;
    gap: 100px;
}

.borderImg {
    border: 8px solid var(--border_color);
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #fff;
}

.borderImg>img {
    width: 100%;
    border-radius: 100%;
}